@model EntityLayer.Concrete.Content

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    <input value="@ViewBag.d" name="HeadingID" type="hidden"/>
    <div class="form-group">
        @Html.Label("İçeriğinizi Yazın:")
        @Html.TextAreaFor(x => x.ContentValue, 4, 30, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}

